@font-face {
  font-family: "fontzoa-cafe24-angbanana";
  src: url("/fonts/catalog/Cafe24Angbanana.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-classictype";
  src: url("/fonts/catalog/Cafe24Classictype.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-dangdanghae";
  src: url("/fonts/catalog/Cafe24Dangdanghae.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-danjunghae";
  src: url("/fonts/catalog/Cafe24Danjunghae.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-dongdong";
  src: url("/fonts/catalog/Cafe24Dongdong.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-dongdong-light";
  src: url("/fonts/catalog/Cafe24DongdongLight.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-meongi-black";
  src: url("/fonts/catalog/Cafe24MeongiBlack.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-meongi-white";
  src: url("/fonts/catalog/Cafe24MeongiWhite.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-moyamoya";
  src: url("/fonts/catalog/Cafe24Moyamoya.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-moyamoya-face";
  src: url("/fonts/catalog/Cafe24MoyamoyaFace.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-nyangi-black";
  src: url("/fonts/catalog/Cafe24NyangiBlack.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-nyangi-white";
  src: url("/fonts/catalog/Cafe24NyangiWhite.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-ohsquare";
  src: url("/fonts/catalog/Cafe24Ohsquare.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-ohsquare-air";
  src: url("/fonts/catalog/Cafe24OhsquareAir.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-oneprettynight";
  src: url("/fonts/catalog/Cafe24Oneprettynight.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-pro-slim-air";
  src: url("/fonts/catalog/Cafe24ProSlimAir.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-pro-slim-fit";
  src: url("/fonts/catalog/Cafe24ProSlimFit.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-pro-slim-max";
  src: url("/fonts/catalog/Cafe24ProSlimMax.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-proup";
  src: url("/fonts/catalog/Cafe24Proup.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-shiningstar";
  src: url("/fonts/catalog/Cafe24Shiningstar.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-simplehae";
  src: url("/fonts/catalog/Cafe24Simplehae.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-ssukssuk";
  src: url("/fonts/catalog/Cafe24Ssukssuk.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-ssukssuk-light";
  src: url("/fonts/catalog/Cafe24SsukssukLight.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-ssurround";
  src: url("/fonts/catalog/Cafe24Ssurround.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-ssurround-air";
  src: url("/fonts/catalog/Cafe24SsurroundAir.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-supermagic-bold";
  src: url("/fonts/catalog/Cafe24SupermagicBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-supermagic-regular";
  src: url("/fonts/catalog/Cafe24SupermagicRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-cafe24-syongsyong";
  src: url("/fonts/catalog/Cafe24Syongsyong.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-barun-gothic-bold";
  src: url("/fonts/catalog/NanumBarunGothic-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-barun-gothic-extra-light";
  src: url("/fonts/catalog/NanumBarunGothic-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-barun-gothic-light";
  src: url("/fonts/catalog/NanumBarunGothic-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-barun-gothic";
  src: url("/fonts/catalog/NanumBarunGothic.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-barun-gothic-yet-hangul";
  src: url("/fonts/catalog/NanumBarunGothicYetHangul.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-barunpen-bold";
  src: url("/fonts/catalog/NanumBarunpen-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-barunpen-regular";
  src: url("/fonts/catalog/NanumBarunpen-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-brush";
  src: url("/fonts/catalog/NanumBrush.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-gothic-bold";
  src: url("/fonts/catalog/NanumGothic-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-gothic-extra-bold";
  src: url("/fonts/catalog/NanumGothic-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-gothic-light";
  src: url("/fonts/catalog/NanumGothic-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-gothic";
  src: url("/fonts/catalog/NanumGothic.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-gothic-eco-bold";
  src: url("/fonts/catalog/NanumGothicEco-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-gothic-eco-extra-bold";
  src: url("/fonts/catalog/NanumGothicEco-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-gothic-eco";
  src: url("/fonts/catalog/NanumGothicEco.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-human-extra-light";
  src: url("/fonts/catalog/NanumHuman-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-human-light";
  src: url("/fonts/catalog/NanumHuman-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-human-regular";
  src: url("/fonts/catalog/NanumHuman-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-human-bold";
  src: url("/fonts/catalog/NanumHuman-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-human-extra-bold";
  src: url("/fonts/catalog/NanumHuman-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-human-heavy";
  src: url("/fonts/catalog/NanumHuman-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-maru-buri-extra-light";
  src: url("/fonts/catalog/MaruBuri-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-maru-buri-light";
  src: url("/fonts/catalog/MaruBuri-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-maru-buri-regular";
  src: url("/fonts/catalog/MaruBuri.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-maru-buri-semi-bold";
  src: url("/fonts/catalog/MaruBuri-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-maru-buri-bold";
  src: url("/fonts/catalog/MaruBuri-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-myeongjo-bold";
  src: url("/fonts/catalog/NanumMyeongjo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-myeongjo-extra-bold";
  src: url("/fonts/catalog/NanumMyeongjo-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-myeongjo";
  src: url("/fonts/catalog/NanumMyeongjo.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-myeongjo-eco-bold";
  src: url("/fonts/catalog/NanumMyeongjoEco-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-myeongjo-eco-extra-bold";
  src: url("/fonts/catalog/NanumMyeongjoEco-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-myeongjo-eco";
  src: url("/fonts/catalog/NanumMyeongjoEco.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-myeongjo-yet-hangul";
  src: url("/fonts/catalog/NanumMyeongjoYetHangul.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-pen-regular";
  src: url("/fonts/catalog/NanumPen-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-square-bold";
  src: url("/fonts/catalog/NanumSquare-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-square-extra-bold";
  src: url("/fonts/catalog/NanumSquare-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-square-light";
  src: url("/fonts/catalog/NanumSquare-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-square-regular";
  src: url("/fonts/catalog/NanumSquare-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-square-neo-black";
  src: url("/fonts/catalog/NanumSquareNeo-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-square-neo-bold";
  src: url("/fonts/catalog/NanumSquareNeo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-square-neo-extra-bold";
  src: url("/fonts/catalog/NanumSquareNeo-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-square-neo-light";
  src: url("/fonts/catalog/NanumSquareNeo-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-square-neo-regular";
  src: url("/fonts/catalog/NanumSquareNeo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-square-round-bold";
  src: url("/fonts/catalog/NanumSquareRound-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-square-round-extra-bold";
  src: url("/fonts/catalog/NanumSquareRound-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-square-round-light";
  src: url("/fonts/catalog/NanumSquareRound-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nanum-square-round-regular";
  src: url("/fonts/catalog/NanumSquareRound-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-a2z-thin";
  src: url("/fonts/catalog/a2z-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-a2z-extra-light";
  src: url("/fonts/catalog/a2z-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-a2z-light";
  src: url("/fonts/catalog/a2z-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-a2z-regular";
  src: url("/fonts/catalog/a2z-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-a2z-medium";
  src: url("/fonts/catalog/a2z-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-a2z-semi-bold";
  src: url("/fonts/catalog/a2z-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-a2z-bold";
  src: url("/fonts/catalog/a2z-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-a2z-extra-bold";
  src: url("/fonts/catalog/a2z-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-a2z-black";
  src: url("/fonts/catalog/a2z-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-paperlogy-thin";
  src: url("/fonts/catalog/Paperlogy-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-paperlogy-extra-light";
  src: url("/fonts/catalog/Paperlogy-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-paperlogy-light";
  src: url("/fonts/catalog/Paperlogy-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-paperlogy-regular";
  src: url("/fonts/catalog/Paperlogy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-paperlogy-medium";
  src: url("/fonts/catalog/Paperlogy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-paperlogy-semi-bold";
  src: url("/fonts/catalog/Paperlogy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-paperlogy-bold";
  src: url("/fonts/catalog/Paperlogy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-paperlogy-extra-bold";
  src: url("/fonts/catalog/Paperlogy-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-paperlogy-black";
  src: url("/fonts/catalog/Paperlogy-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-pretendard-thin";
  src: url("/fonts/catalog/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-pretendard-extra-light";
  src: url("/fonts/catalog/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-pretendard-light";
  src: url("/fonts/catalog/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-pretendard-regular";
  src: url("/fonts/catalog/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-pretendard-medium";
  src: url("/fonts/catalog/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-pretendard-semi-bold";
  src: url("/fonts/catalog/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-pretendard-bold";
  src: url("/fonts/catalog/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-pretendard-extra-bold";
  src: url("/fonts/catalog/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-pretendard-black";
  src: url("/fonts/catalog/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-pretendard-variable";
  src: url("/fonts/catalog/Pretendard-Variable.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-sc-dream-thic";
  src: url("/fonts/catalog/SCDream-Thic.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-sc-dream-extra-light";
  src: url("/fonts/catalog/SCDream-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-sc-dream-light";
  src: url("/fonts/catalog/SCDream-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-sc-dream";
  src: url("/fonts/catalog/SCDream.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-sc-dream-medium";
  src: url("/fonts/catalog/SCDream-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-sc-dream-semi-bold";
  src: url("/fonts/catalog/SCDream-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-sc-dream-bold";
  src: url("/fonts/catalog/SCDream-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-sc-dream-extra-bold";
  src: url("/fonts/catalog/SCDream-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-sc-dream-black";
  src: url("/fonts/catalog/SCDream-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-freesentation-thin";
  src: url("/fonts/catalog/Freesentation-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-freesentation-extra-light";
  src: url("/fonts/catalog/Freesentation-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-freesentation-light";
  src: url("/fonts/catalog/Freesentation-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-freesentation-regular";
  src: url("/fonts/catalog/Freesentation-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-freesentation-medium";
  src: url("/fonts/catalog/Freesentation-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-freesentation-semi-bold";
  src: url("/fonts/catalog/Freesentation-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-freesentation-bold";
  src: url("/fonts/catalog/Freesentation-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-freesentation-extra-bold";
  src: url("/fonts/catalog/Freesentation-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-freesentation-black";
  src: url("/fonts/catalog/Freesentation-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-gmarket-sans-light";
  src: url("/fonts/catalog/GmarketSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-gmarket-sans-medium";
  src: url("/fonts/catalog/GmarketSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-gmarket-sans-bold";
  src: url("/fonts/catalog/GmarketSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nexon-bazzi";
  src: url("/fonts/catalog/NexonBazzi.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nexon-dnf-bit-bit";
  src: url("/fonts/catalog/NexonDNFBitBit.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nexon-dnf-forged-blade-bold";
  src: url("/fonts/catalog/NexonDNFForgedBlade-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nexon-dnf-forged-blade-light";
  src: url("/fonts/catalog/NexonDNFForgedBlade-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nexon-dnf-forged-blade-medium";
  src: url("/fonts/catalog/NexonDNFForgedBlade-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nexon-football-gothic-bold";
  src: url("/fonts/catalog/NexonFootballGothic-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nexon-football-gothic-light";
  src: url("/fonts/catalog/NexonFootballGothic-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nexon-kart-gothic-bold";
  src: url("/fonts/catalog/NexonKartGothic-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nexon-kart-gothic-extra-bold";
  src: url("/fonts/catalog/NexonKartGothic-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nexon-kart-gothic-medium";
  src: url("/fonts/catalog/NexonKartGothic-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nexon-lv1-gothic-bold";
  src: url("/fonts/catalog/NexonLv1Gothic-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nexon-lv1-gothic-light";
  src: url("/fonts/catalog/NexonLv1Gothic-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nexon-lv1-gothic-regular";
  src: url("/fonts/catalog/NexonLv1Gothic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nexon-lv2-gothic-bold";
  src: url("/fonts/catalog/NexonLv2Gothic-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nexon-lv2-gothic-light";
  src: url("/fonts/catalog/NexonLv2Gothic-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nexon-lv2-gothic-medium";
  src: url("/fonts/catalog/NexonLv2Gothic-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nexon-lv2-gothic-regular";
  src: url("/fonts/catalog/NexonLv2Gothic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nexon-mabinogi-classic";
  src: url("/fonts/catalog/NexonMabinogiClassic.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nexon-maplestory-bold";
  src: url("/fonts/catalog/NexonMaplestory-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nexon-maplestory-light";
  src: url("/fonts/catalog/NexonMaplestory-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nexon-warhaven-bold";
  src: url("/fonts/catalog/NexonWarhaven-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-nexon-warhaven-regular";
  src: url("/fonts/catalog/NexonWarhaven-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-suit-bold";
  src: url("/fonts/catalog/SUIT-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-suit-extra-bold";
  src: url("/fonts/catalog/SUIT-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-suit-extra-light";
  src: url("/fonts/catalog/SUIT-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-suit-heavy";
  src: url("/fonts/catalog/SUIT-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-suit-light";
  src: url("/fonts/catalog/SUIT-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-suit-medium";
  src: url("/fonts/catalog/SUIT-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-suit-semi-bold";
  src: url("/fonts/catalog/SUIT-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-suit-thin";
  src: url("/fonts/catalog/SUIT-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-suit";
  src: url("/fonts/catalog/SUIT.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-wanted-sans-regular";
  src: url("/fonts/catalog/WantedSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-wanted-sans-medium";
  src: url("/fonts/catalog/WantedSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-wanted-sans-semi-bold";
  src: url("/fonts/catalog/WantedSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-wanted-sans-bold";
  src: url("/fonts/catalog/WantedSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-wanted-sans-extra-bold";
  src: url("/fonts/catalog/WantedSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-wanted-sans-black";
  src: url("/fonts/catalog/WantedSans-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-wanted-sans-extra-black";
  src: url("/fonts/catalog/WantedSans-ExtraBlack.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-arita-buri-thin";
  src: url("/fonts/catalog/AritaBuri-Thic.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-arita-buri-light";
  src: url("/fonts/catalog/AritaBuri-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-arita-buri-medium";
  src: url("/fonts/catalog/AritaBuri-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-arita-buri-semi-bold";
  src: url("/fonts/catalog/AritaBuri-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-arita-buri-bold";
  src: url("/fonts/catalog/AritaBuri-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-arita-dotum-thin";
  src: url("/fonts/catalog/AritaDotum-Thin.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-arita-dotum-light";
  src: url("/fonts/catalog/AritaDotum-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-arita-dotum-medium";
  src: url("/fonts/catalog/AritaDotum-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-arita-dotum-semi-bold";
  src: url("/fonts/catalog/AritaDotum-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-arita-dotum-bold";
  src: url("/fonts/catalog/AritaDotum-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-bm-dohyeon";
  src: url("/fonts/catalog/BMDohYeon.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-bm-euljiro";
  src: url("/fonts/catalog/BMEuljiro.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-bm-euljiro-10-years-later";
  src: url("/fonts/catalog/BMEuljiro10yearslater.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-bm-euljiro-oraeorae";
  src: url("/fonts/catalog/BMEuljiroOraeorae.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-bm-hanna-11";
  src: url("/fonts/catalog/BMHanNa11.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-bm-hanna-air";
  src: url("/fonts/catalog/BMHanNaAir.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-bm-hanna-pro";
  src: url("/fonts/catalog/BMHanNaPro.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-bm-jua";
  src: url("/fonts/catalog/BMJua.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-bm-kirang-haerang";
  src: url("/fonts/catalog/BMKirangHaerang.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-bm-kkubulim";
  src: url("/fonts/catalog/BMKkubulim.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "fontzoa-bm-yeonsung";
  src: url("/fonts/catalog/BMYeonSung.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
